* {
    padding: 0;
    margin: 0;
    font-family: "Gilroy";
    text-decoration: none;
    box-sizing: border-box;
}

#app {
    background-color: #a89b9d;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.woman {
    position: absolute;
    bottom: 0;
    right: 0;
}

ul {
    margin-left: 50px;
    color: white;
    font-weight: 600;
    margin-top: -70px;

    font-size: 16px;
    line-height: 183.4%;
}

footer {
    left: 30px;
    position: absolute;
    bottom: 25px;
}

.item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

a {
    font-weight: 700;
    margin-left: 10px;
    font-size: 20px;
    line-height: 81.4%;
    text-align: center;

    color: #cfcfea;
}

.bg1 {
    position: absolute;
    background: #363636;
    mix-blend-mode: soft-light;
    opacity: 0.55;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.bg2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, #816c61 4.44%, rgba(129, 108, 97, 0) 100%);
    height: 422px;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    z-index: 10;
    bottom: 0;
    background-color: #cfcfea;
}

.animation p {
    color: white;
    font-weight: bold;
    margin-top: -90px;
}
.animation p span {
    animation: dots 1s infinite ease;
}

@keyframes dots {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animation p span:first-child {
    animation-delay: -0.9s;
}
.animation p span:nth-child(2) {
    animation-delay: -0.6s;
}
.animation p span:last-child {
    animation-delay: -0.3s;
}

.anima {
    display: flex;
    transition: .3s ease;
    animation: view 4s ease ;
}

@keyframes view {
    80% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
