<template>
  <div id="app">
    <div class="logo">
      <img src="./assets/logo1.png" class="logo" alt="">
    </div>
    <div class="woman">
      <img src="./assets/woman.png" alt="">
    </div>
    <div class="bg">
      <div class="bg1 df"></div>
      <div class="bg2 df"></div>
    </div>
    <ul>
      <li>
        Ваша мечта-реальность!
      </li>
      <li>
        Более 1000 довольных невест.
      </li>
      <li>
        Лучшие стилисты.
      </li>
    </ul>

    <footer>
      <div class="item">
        <img src="./assets/phone.svg" alt="">
        <a href="tel:+998906059994">+998 (90) 6059994</a>
      </div>
      <div class="item">
        <img src="./assets/iPhone 13/Group 6.png" alt="">
        <a href="https://www.instagram.com/kukla_beautyroom/">@kukla_beautyroom</a>
      </div>
      <div class="item">
        <img src="./assets/iPhone 13/Group 7.png" alt="">
        <a href="https://t.me/kukla_beautyroomm">@kukla_beautyroomm</a>
      </div>
      <div class="item">
        <img
          src="./assets/iPhone 13/tik-tok-flat-icon-template-black-color-editable-tik-tok-flat-icon-symbol-flat-illustration-for-graphic-and-web-design-free-vector 1 2.png"
          alt="">
        <a href="https://vm.tiktok.com/ZSRjbqSDs/">@kukla_beautyroom</a>
      </div>
      <div class="item">
        <img src="./assets/iPhone 13/Group 3.png" alt="">
        <a href="https://maps.app.goo.gl/qDCun6GdkyDHhpqEA">Наша локация</a>
      </div>
    </footer>

    <div class="animation" :class="bool ? 'anima' : ''">
      <div class="logo">
        <img src="./assets/logo1.png" class="logo" alt="">
      </div>
      <p>
        LOADING
        <span>.</span>
        <span>.</span>
        <span>.</span>
      </p>
    </div>

  </div>
</template>

<script>
import './assets/style.css'
export default {
  data() {
    return {
      bool: true
    }
  },
  mounted() {
    setTimeout(() => {
      this.bool = false
    }, 4000)
  }
}
</script>

<style>
</style>
